{
  "app": {
    "guid": "0ed5777d-2dbc-4f15-b360-a55d9e66e9ad"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": true,
    "metadataSecurity": "Administrators",
    "entitiesSecurity": null,
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "MGVkNTc3N2QtMmRiYy00ZjE1LWIzNjAtYTU1ZDllNjZlOWFk",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Token",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "mutual": "false",
      "social": "false",
      "appid": "io.cronapp.apps.postoadv2",
      "backend": "true",
      "theme": "Material",
      "authentication": "Token",
      "frontend": "true"
    },
    "groupName": null
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0
}